body {
    background-color: #000000;
}
.banner {
    position: fixed;
    margin-top: 60px;
    width:100%;
}
.main {
    padding-top:210px;
    color:snow;
}
body {margin: 0;}

.headerSocialLinks {
    position: absolute;
    -webkit-padding-start: 8px;
    top: 0;
    left: 0;
    width: 299px;
    z-index: 99;
}
.headerSocialLinks li {
    display: block;
    float: left;
    margin: 0 8px 0 0;
    margin-left: 0;
}

.headerSocialLinks li a {
    display: block;
    float: left;
    width: 31px;
    height: 31px;
    white-space: nowrap;
    direction: ltr;
}
ul.headerSocialLinks li a.headerSocial_yt {
    background-position: 0 0;
}
ul.headerSocialLinks li a.headerSocial_fb {
    background-position: -32px 0;
}
ul.headerSocialLinks li a.headerSocial_ig {
    background-position: -63px 0;
}
ul.headerSocialLinks li a.headerSocial_tm {
    background-position: -95px 0;
}

@media only screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;
                  border-right:none;
    }
    ul.topnav {
        height: 80px;
    }
}
