<!DOCTYPE html>
{% load i18n %}
<html>
    <head>
        <title>KŠK galerija</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- -->
		{% load staticfiles %}
		<link rel='stylesheet' href="{% static 'css/StyleLandingPage.css' %}" type='text/css'/>
		
		
    </head>
	<body class="body">
	
	        <!--header-->
            <div class="vsebinaHeader">
                <ul class="headerSocialLinks">
                    <li><a href="https://www.youtube.com/channel/UCKqpXFl4A3Fj3SNGwDXJN0A" title="YouTube" target="_blank"><img src="{% static 'img/ytBlack.png' %}" alt="YouTube" /></a></li>
					<li><a href="https://www.facebook.com/klubstudentovkranj" title="Facebook" target="_blank"><img src="{% static 'img/fbBlack.png' %}" alt="Facebook" /></a></li>
					<li><a href="https://www.instagram.com/ksk_info/" title="Instagram" target="_blank"><img src="{% static 'img/igBlack.png' %}" alt="instagram" /></a></li>
					<li><a href="http://www.ksk.si/" title="KŠK" target="_blank"><img src="{% static 'img/wwwBlack.png' %}" alt="ksk.si" /></a></li>
				</ul>

                <a href="/"><img src="{% static 'img/banner.png' %}" alt="logo" /></a>
				
			<nav>
					<a class="active" href="/">{% blocktrans %}Home{% endblocktrans %}</a>
					<a id="gumb" href="/contact/">{% blocktrans %}Contact{% endblocktrans %}</a>
					
					{% for lang_code, lang_name in languages %}
					  {% language lang_code %}
						<a href="{% url 'index' %}">{{ lang_name }}</a>
					  {% endlanguage %}
					{% endfor %}
					
					<input type="text" id="hihi" name="iskalnik" placeholder="{% blocktrans %}Search{% endblocktrans %}" value=""/>
					
			</nav>
            </div>
		<div>
			{% block content %}
			
			{% endblock %}
		</div>
	</body>
</html>