<!DOCTYPE html>

<html>
    <head>
        <title>KŠK galerija</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- -->
		{% load staticfiles %}
		<link rel='stylesheet' href="{% static 'css/StyleLandingPage.css' %}" type='text/css'/>
		
    </head>
	<body class="body">
	
	<!--noscript-->
        <noscript>
            <div id="kontakttt" class="overlay">
                <div class="pop-celoten">
                    <div class="pop-glava">
                        <a class="zapri" href="#">×</a>
                        <h2>Napiši nam e-mail</h2>
                    </div>
                    <div class="pop-telo">
                        <form action="#" method="POST">
                            <div class="vrstica">
                                <label>Vpiši ime:</label><br />
                                <input name="ime" required="required" placeholder="ime" type="text" value="" size="28" /><br />
                            </div>
                            <div class="vrstica">
                                <label>Vpiši svoj e-mail:</label><br />
                                <input name="email" required="required" type="email" placeholder="e-mail" value="" size="28" /><br />
                            </div>
                            <div class="vrstica">
                                <label>Kaj bi nam rad sporočil?</label><br />
                                <textarea name="sporocilo" rows="7" required="required" cols="30"></textarea><br />
                            </div>
                            <input type="submit" value="Poslji mail" />
                        </form>
                    </div>
                </div>
            </div>
        </noscript>

        <!-- Popup za kontakt. ID rabmo pol se zarad javascripta-->
        <div id="kontaktt" class="kontakt">
            <!-- vsebina -->
            <div class="pop-celoten">
                <!--glava popupa-->
                <div class="pop-glava">
                    <!--tukaj naredimo, da ce klikne close, da se zapre-->
                    <span class="zapri">×</span>
                    <h2>Napiši nam e-mail</h2>
                </div>
                <!--glavni del popupa-->
                <div class="pop-telo">
                    <form action="#" method="POST">
                        <div class="vrstica">
                            <label>Vpiši ime:</label><br />
                            <input name="ime" required="required" placeholder="ime" type="text" value="" size="28" /><br />
                        </div>
                        <div class="vrstica">
                            <label>Vpiši svoj e-mail:</label><br />
                            <input name="email" required="required" type="email" placeholder="e-mail" value="" size="28" /><br />
                        </div>
                        <div class="vrstica">
                            <label>Kaj bi nam rad sporočil?</label><br />
                            <textarea name="sporocilo" rows="7" required="required" cols="30"></textarea><br />
                        </div>
                        <input type="submit" value="Poslji mail" />
                    </form>					
                </div>
            </div>
        </div>

        <!--header-->
            <div class="vsebinaHeader">
                <ul class="headerSocialLinks">
                    <li><a href="https://www.youtube.com/channel/UCKqpXFl4A3Fj3SNGwDXJN0A" title="YouTube" target="_blank"><img src="{% static 'img/ytBlack.png' %}" alt="YouTube" /></a></li>
					<li><a href="https://www.facebook.com/klubstudentovkranj" title="Facebook" target="_blank"><img src="{% static 'img/fbBlack.png' %}" alt="Facebook" /></a></li>
					<li><a href="https://www.instagram.com/ksk_info/" title="Instagram" target="_blank"><img src="{% static 'img/igBlack.png' %}" alt="instagram" /></a></li>
					<li><a href="http://www.ksk.si/" title="KŠK" target="_blank"><img src="{% static 'img/wwwBlack.png' %}" alt="ksk.si" /></a></li>
				</ul>

                <a href="index.html"><img src="{% static 'img/banner.png' %}" alt="logo" /></a>
			<nav>
					<a class="active" href="#">Domov</a>
					<a id="gumb" href="#kontakttt">Kontakt</a>
					<input type="text" id="hihi" name="iskalnik" placeholder="Iskalnik" value=""/>
			</nav>
            </div>
		<div>
			{% block content %}
			
			{% endblock %}
		</div>
	</body>
</html>